* {
	-webkit-font-smoothing: antialiased;
}
.container {
	padding-bottom: 50px;
}
h1 {
	text-align: center;
	margin: 20px auto;
	clear: both;
	font-size: 35px;
	font-weight: 200;
	color: #444;
}
span.nav {
	clear: both;
	display: block;
	text-align: left;
	margin-top: 20px;
}
p {
	text-align: justify;
	margin: 0px;
}
p.after-image {
	margin-top: 20px;
}
p.before-image {
	margin-bottom: 20px;
}
.social {
	font-weight: 600;
}
.social:hover {
	text-decoration: none;
	color: gray;
}
.twitter-social{
	color: #349be4;
}
.github-social{
	color: #333;
}
.quora-social {
	color: #d02a22
}
.instagram-social {
	color: #876148;
}
.tsl-text {
	clear: both;
	color: #113D59;
	font-family: Bitter,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.1em;
}
#waffle h1 {
	color: #00CAF8;
	text-shadow: 1px 1px 1px #AAA;
	font-weight: 500;
	font-size: 50px;
	line-height: 70px;
}
#waffle h1 span {
	color: #00809D;
}
#waffle h1 img {
	position: relative;
	top: 5px;
	margin-right: 10px;
}
#nag h1 img {
	width: 200px;
}
hr {
	margin: 25px 0px;
}
